.news-content {
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
}

.news-container {
    /* margin: 20px auto; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    color: black;
    max-width: 350px;
}

.news-container img {
    width: 350px;
    aspect-ratio: 16/10;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

.news-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

.news__id {
    background-color: rgba(249, 249, 249, 1);
    border-radius: 15px;
    padding: 0 10px;
}

.news__tag {
    border-radius: 15px;
    border: 1px solid rgba(234, 234, 234, 0.65);
    padding: 0 10px;
}

.news-text {
    font-family: "Panton-Trial";
    font-weight: 400;
    font-size: 26px;
    text-wrap: wrap;
    color: black;
}