.mobile-menu{
    width: 100%;
    height: 100svh;
    position: fixed;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid black;
    right: -100vw;
    transition: right .3s;
    top: 100px;
    overflow: hidden;
}

.mobile-menu_container{
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: flex-end;

}

.mobile-menu a{
    color: black;
}

.open{
    right: 0;
}