/* preload */
.preloader{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2B2B2B;
    color: aliceblue;
}

/* preview */
.preview__container {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.preview__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    filter: opacity(0.7);
}

.preview__text {
    font-family: "Panton-Trial";
    font-weight: 500;
    font-size: 6.9em;
    position: absolute;
    transform: translateY(70%);
}

@media screen and (max-width: 500px) {
    .preview__image {
        max-width: 100%;
        height: auto;
    }
    .preview__text{
        font-size: 2em;
    }
    .preview__container{
        height: 50vh;
    }
}

/* About */
.about__container{
    width: 100%;
}

.about__last-news{
    height: 165px;
    display: flex;
    gap: 80px;
    align-items: center;
    font-family: 'Panton-Trial';
    font-weight: 700;
    font-size: 22px;
}

.about__news-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about__news{
    width: 100%;
    display: flex;
    gap: 20px;
}

.about__part{
    width: 138px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-family: "Noto Sans JP";
    font-size: 14px;
    font-weight: 400;
    background-color: rgba(249, 249, 249, 1);
}

.about__news-text{
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
    font-family: 'Panton-Trial';
    font-size: 22px;
    font-weight: 400;
    color: #000;
}

.main_mobile_menu{
    display: none;
}

@media screen and (max-width: 500px) {
    .about__last-news{
        height: auto;
        flex-direction: column;
        gap: 20px;
    }

    .about__news{
        padding-bottom: 15px;
        flex-direction: column;
    }
}
