.chapter-wrapper{
    width: 100%;
    height: 100vh;
    background: url("./../../assets/images/chapter.png") center center;
    background-size: cover;
}

.chapter-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.chapter-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.chapter-menu{
    padding: 40px 30px;
    min-width: 350px;
    max-width: 400px;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 5%;
    position: relative;
    z-index: 1;
}

.chapter-menu h1{
    font-family: "Panton-Trial";
    font-weight: 900;
    font-size: 34px;
    line-height: 42.4px;
}

.chapter-links{
    display: flex;
    flex-wrap: wrap;
}

.chapter-links a{
    padding: 0 10px;
    font-family: "Noto Sans JP";
    font-size: 22px;
    font-weight: 350;
    color: rgba(0, 0, 0, 1);
}

.chapter-text{
    transform: rotate(180deg);
    writing-mode:vertical-rl;
    font-family: "Panton-Trial";
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 4%;
    color: rgba(249, 249, 249, 1);
    line-height: 87px;
}

.chapter-content{
    width: 75%;
    height: 100vh;
    overflow:auto;
    position: relative;
    z-index: 0;
}

.chapter-lic{
    width: 50px;
    white-space: nowrap;
    height: fit-content;
    /* transform: rotate(90deg); */
    writing-mode: vertical-lr;
    font-weight: 100;
    font-size: 16px;
    color: aliceblue;
    display: flex;
    align-items: center;
}

/* mobile */

.chapter-header-mobile{
    display: none;
}

